<div class="container">

  <div ng-include="'components/navbar/navbar.html'"></div>
  
  <h1>To Do List</h1>
  
  <form ng-submit="addTask()">
    Task name: <input type="text" ng-model="tName" name="tName"><br>
    Task description: <input type="text" ng-model="tDescription" name="tDescription"><br>
    <input type="submit" value="Add Task">
  </form>

  <div ng-repeat="task in tasks" ng-click="taskClicked(task)">
    <h4>{{task.name}}</h4>
    <h5>{{task.description}}</h5>
    <a ui-sref="task"><h4>{{task.name}}</h4></a>
  </div>

  <hr>
</div>
